

.div-login{
    width:400px;
    height:600px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 0 0 10px 10px;
    margin: 1vh;
    background-color: white;
    align-self: center;
}

.div-login .txt {
    padding: 0 0 0 0;
}

.div-login-logo{
    height: 200px;
    width: 200px;
    align-self: center;
}

input{
    width: 95%;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

button{
    width: 98%;
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}
