body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  height: 100vh;
  background-color: #fafafa;
}

/*.Tabs {*/
/*  width: 50%;*/
/*  height: 20px;*/
/*  min-height: 20px;*/
/*  background: #053742;*/
/*  text-align: center;*/
/*  !*margin: 1rem auto 1rem;*!*/
/*  !*padding: 1rem 1rem;*!*/
/*  color: #E8F0F2;*/
/*  !*border-radius: 2rem;*!*/
/*}*/

ul.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding: 0 0 30px 0;
}
ul.nav li {
  background-color: white;
  width: 25%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
/*ul.nav li:nth-child(2) {*/
/*  border-radius: 0;*/
/*  border-bottom-right-radius: 2rem;*/
/*  border-top-right-radius: 2rem;*/
/*}*/

ul.nav li:nth-child(1) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav .active {
  background: #39A2DB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

